nav {
    float: left;
    width: 20%;
}

main {
    float: right;
    width: 75%;
    padding: 10px;
}


footer {
    clear: both;
    text-align: center;
    background-color: black;
    color: white;
}

header {
    font-size: 28px;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
}

body {
    padding: 0px;
    margin: 0px;
}

textarea {
    width: 400px;
    height: 150px;
}


.destaca
{
 background-color ="red";

}

.divRelogio
{
    width: 60px;
    height: 60px;
	color: blue;
	align: center;

}

#quadrado {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0px;
   
}